<!DOCTYPE html>
<html>
  <head>
    <title>Cadets Uniform</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1>Squadron Uniform Managment System</h1>
    <button class="add-btn-green" id="add-btn">Add</button>
    <button class="add-btn-green" id="open-filter-popup">Filter</button>
    <div class="popup" id="popup">
      <div class="popup-content">
        <span class="popup-close" id="popup-close">&times;</span>
        <h2>Add Uniform Item</h2>
        <form id="add-form">
          <label for="name">Name:</label>
          <select id="name" name="name">
            <option value="2A">2A Shirt</option>
            <option value="2C">2C Shirt</option>
            <option value="Jumper">Jumper</option>
            <option value="Trousers">Trousers</option>
            <option value="Skirt">Skirt</option>
            <option value="Waterproof Jacket">Waterproof Jacket</option>
            <option value="Tie">Tie</option>
            <option value="Brassard">Brassard</option>
            <option value="MTP PCS">MTP</option>
            <option value="Parade Shoes">Parade Shoes</option>
            <option value="Yellow Lanyard">Yellow Lanyard</option>
          </select>
          <label for="gender">Gender:</label>
          <select id="gender" name="gender">
            <option value="M">M</option>
            <option value="F">F</option>
            <option value="N/A">N/A</option>
          </select>
          <label for="size">Size:</label>
          <input type="text" id="size" name="size" required>
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" name="quantity" required>
          <button id="submit-btn" type="submit">Add</button>
        </form>
      </div>
    </div>


    <div id="filter-popup">
        <form id="filter-form">
            <span class="popup-close" id="close-filter-popup">&times;</span>

            <!-- <label for="name-select">Name:</label>
            <select id="name-select" name="name">
                <option value="">Any</option>
                <option value="2A">2A Shirt</option>
                <option value="2C">2C Shirt</option>
                <option value="Jumper">Jumper</option>
                <option value="Trousers">Trousers</option>
                <option value="Skirt">Skirt</option>
                <option value="Waterproof Jacket">Waterproof Jacket</option>
                <option value="Tie">Tie</option>
                <option value="Brassard">Brassard</option>
                <option value="MTP PCS">MTP</option>
                <option value="Parade Shoes">Parade Shoes</option>
                <option value="Yellow Lanyard">Yellow Lanyard</option>
            </select> -->

          <label for="gender-select">Gender:</label>
          <select id="gender-select" name="gender">
            <option value="">All</option>
            <option value="F">Female</option>
            <option value="M">Male</option>
            <option value="N/A">N/A</option>
          </select>
      
          <label for="size-select">Size:</label>
          <input type="text" id="size-select" name="size">
      
          <button type="submit">Filter</button>
        </form>
      </div>
    
    <h2>Uniform items:</h2>
    <ul id="item-list">
    <h3>Dark Blue Shirts</h3>
    <li style="font-weight: bold;">
        <span>Gender</span>
        <span>Size</span>
        <span>Quantity</span>
        <span>Action</span>
    </li>
    <% const sortedResults = results.filter(item => item.name.includes('2C')).sort((a, b) => a.gender.localeCompare(b.gender)) %>
    <% for (var i = 0; i < sortedResults.length; i++) { %>
        <li data-id="<%= sortedResults[i].id %>">
            <span><%= sortedResults[i].gender %></span>
            <span><%= sortedResults[i].size %></span>
            <span><input type="number" class="quantity" value="<%= sortedResults[i].quantity %>" data-id="<%= sortedResults[i].id %>"></span>
            <span><button class="delete" data-id="<%= sortedResults[i].id %>">Delete</button></span>
        </li>
    <% } %>
    
    <h3>Light Blue Shirts</h3>
    <li style="font-weight: bold;">
        <span>Gender</span>
        <span>Size</span>
        <span>Quantity</span>
        <span>Action</span>
    </li>
    <% const testSortedResults = results.filter(item => item.name.includes('2A')).sort((a, b) => a.gender.localeCompare(b.gender)) %>
    <% for (var i = 0; i < testSortedResults.length; i++) { %>
        <li data-id="<%= testSortedResults[i].id %>">
            <span><%= testSortedResults[i].gender %></span>
            <span><%= testSortedResults[i].size %></span>
            <span><input type="number" class="quantity" value="<%= testSortedResults[i].quantity %>" data-id="<%= testSortedResults[i].id %>"></span>
            <span><button class="delete" data-id="<%= testSortedResults[i].id %>">Delete</button></span>
        </li>
        
    <% } %>

    <h3>Trousers/Skirts</h3>
    <li style="font-weight: bold;">
        <span>Gender</span>
        <span>Size</span>
        <span>Quantity</span>
        <span>Action</span>
    </li>
    <% for (var i = 0; i < results.length; i++) { %>
        <% if (results[i].name.includes('Trousers') || results[i].name.includes('Skirt')) { %>
        <li data-id="<%= results[i].id %>">
            <span><%= results[i].name %></span>
            <span><%= results[i].size %></span>
            <span><input type="number" class="quantity" value="<%= results[i].quantity %>" data-id="<%= results[i].id %>"></span>
            <span><button class="delete" data-id="<%= results[i].id %>">Delete</button></span>
        </li>
        <% } %>
    <% } %>
    
    <h3>Jumpers</h3>
    <li style="font-weight: bold;">
        <span>Gender</span>
        <span>Size</span>
        <span>Quantity</span>
        <span>Action</span>
    </li>
    <% for (var i = 0; i < results.length; i++) { %>
        <% if (results[i].name.includes('Jumper') || results[i].name.includes('Fleece') || results[i].name.includes('Combat Jacket') || results[i].name.includes('Waterproof Jacket')) { %>
        <li data-id="<%= results[i].id %>">
            <!-- <span><%= results[i].name %></span> -->
            <span><%= results[i].gender %></span>
            <span><%= results[i].size %></span>
            <span><input type="number" class="quantity" value="<%= results[i].quantity %>" data-id="<%= results[i].id %>"></span>
            <span><button class="delete" data-id="<%= results[i].id %>">Delete</button></span>
        </li>
        <% } %>
    <% } %>


    <h3>MTP PCS Uniform</h3>
    <li style="font-weight: bold;">
        <span>Name</span>
        <span>Size</span>
        <span>Quantity</span>
        <span>Action</span>
    </li>
    <% for (var i = 0; i < results.length; i++) { %>
        <% if (results[i].name.includes('MTP PCS')) { %>
        <li data-id="<%= results[i].id %>">
            <span><%= results[i].name %></span>
            <span><%= results[i].size %></span>
            <span><input type="number" class="quantity" value="<%= results[i].quantity %>" data-id="<%= results[i].id %>"></span>
            <span><button class="delete" data-id="<%= results[i].id %>">Delete</button></span>
        </li>
        <% } %>
    <% } %>
  



    <h3>Accessories</h3>
    <li style="font-weight: bold;">
        <span>Name</span>
        <span>Size</span>
        <span>Quantity</span>
        <span>Action</span>
    </li>
    <% for (var i = 0; i < results.length; i++) { %>
        <% if (results[i].name.includes('Parade Shoes') || results[i].name.includes('Yellow Lanyard') || results[i].name.includes('Yellow Lanyard') || results[i].name.includes('Brassard') || results[i].name.includes('Tie') || results[i].name.includes('Webbing Belt')) { %>
        <li data-id="<%= results[i].id %>">
            <span><%= results[i].name %></span>
            <span><%= results[i].size %></span>
            <span><input type="number" class="quantity" value="<%= results[i].quantity %>" data-id="<%= results[i].id %>"></span>
            <span><button class="delete" data-id="<%= results[i].id %>">Delete</button></span>
        </li>
        <% } %>
    <% } %>

</ul>


    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
