<!DOCTYPE html>
<html>
  <head>
    <title>Cadets Uniform</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1>Squadron Uniform</h1>
    <button class="add-btn-green" id="add-btn">Add</button>
    <div class="popup" id="popup">
      <div class="popup-content">
        <span class="popup-close" id="popup-close">&times;</span>
        <h2>Add Uniform Item</h2>
        <form id="add-form">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
          <label for="size">Size:</label>
          <input type="text" id="size" name="size" required>
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" name="quantity" required>
          <button id="submit-btn" type="submit">Add</button>
        </form>
      </div>
    </div>
    <h2>Uniform items:</h2>
    <ul id="item-list">
      <% for (var i = 0; i < results.length; i++) { %>
        <li data-id="<%= results[i].id %>">
          <span><%= results[i].name %></span>
          <span><%= results[i].size %></span>
          <span><input type="number" class="quantity" value="<%= results[i].quantity %>" data-id="<%= results[i].id %>"></span>
          <span><button class="delete" data-id="<%= results[i].id %>">Delete</button></span>
        </li>
      <% } %>
    </ul>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
