<!DOCTYPE html>
<html>
  <head>
    <title>KIMBERS TOTALLY AWSOME INVENTORY SYSTEM</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1>KIMBERS TOTALLY AWSOME INVENTORY SYSTEM</h1>
    <button class="add-btn-green" id="add-btn">Add</button>
    <button class="add-btn-green" id="open-filter-popup">Filter</button>
    <div class="popup" id="popup">
      <div class="popup-content">
        <span class="popup-close" id="popup-close">&times;</span>
        <h2>Add Uniform Item</h2>
        <form id="add-form">
          <label for="name">Name:</label>
          <select id="name" name="name">
            <option value="2A">2A Shirt</option>
            <option value="2C">2C Shirt</option>
            <option value="Jumper">Jumper</option>
            <option value="Trousers">Trousers</option>
            <option value="Skirt">Skirt</option>
            <option value="Waterproof Jacket">Waterproof Jacket</option>
            <option value="Tie">Tie</option>
            <option value="Brassard">Brassard</option>
            <option value="MTP PCS">MTP</option>
            <option value="Parade Shoes">Parade Shoes</option>
            <option value="Yellow Lanyard">Yellow Lanyard</option>
            <option value="Belts">Belts</option>
            <option value="Socks">Socks</option>
            <option value="Beret">Beret</option>
          </select>
          <label for="gender">Gender:</label>
          <select id="gender" name="gender">
            <option value="M">M</option>
            <option value="F">F</option>
            <option value="N/A">N/A</option>
          </select>
          <label for="size">Size:</label>
          <input type="text" id="size" name="size" required>
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" name="quantity" required>
          <button id="submit-btn" type="submit">Add</button>
        </form>
      </div>
    </div>


    <div id="filter-popup">
        <form id="filter-form">
            <span class="popup-close" id="close-filter-popup">&times;</span>

            <!-- <label for="name-select">Name:</label>
            <select id="name-select" name="name">
                <option value="">Any</option>
                <option value="2A">2A Shirt</option>
                <option value="2C">2C Shirt</option>
                <option value="Jumper">Jumper</option>
                <option value="Trousers">Trousers</option>
                <option value="Skirt">Skirt</option>
                <option value="Waterproof Jacket">Waterproof Jacket</option>
                <option value="Tie">Tie</option>
                <option value="Brassard">Brassard</option>
                <option value="MTP PCS">MTP</option>
                <option value="Parade Shoes">Parade Shoes</option>
                <option value="Yellow Lanyard">Yellow Lanyard</option>
            </select> -->

          <label for="gender-select">Gender:</label>
          <select id="gender-select" name="gender">
            <option value="">All</option>
            <option value="F">Female</option>
            <option value="M">Male</option>
            <option value="N/A">N/A</option>
          </select>
      
          <label for="size-select">Size:</label>
          <input type="text" id="size-select" name="size">
      
          <button type="submit">Filter</button>
        </form>
      </div>
    
    <h2>Uniform items:</h2>
    <ul id="item-list">
        <h3>
            <button id="2C-toggle-button" onclick="toggleList('2C')">▶</button>
            Dark Blue Shirts
        </h3>
        <ul id="2C-list" style="display:none">
            <li style="font-weight: bold;">
                <span>Gender</span>
                <span>Size</span>
                <span>Quantity</span>
                <span>Action</span>
            </li>
            <% const sortedResults = results.filter(item => item.name.includes('2C')).sort((a, b) => a.gender.localeCompare(b.gender)) %>
            <% for (var i = 0; i < sortedResults.length; i++) { %>
                <li data-id="<%= sortedResults[i].id %>">
                    <span><%= sortedResults[i].gender %></span>
                    <span><%= sortedResults[i].size %></span>
                    <span><input type="number" class="quantity" value="<%= sortedResults[i].quantity %>" data-id="<%= sortedResults[i].id %>"></span>
                    <span><button class="delete" data-id="<%= sortedResults[i].id %>">Delete</button></span>
                </li>
            <% } %>
        </ul>
    
    
    <h3>
        <button id="2A-toggle-button" onclick="toggleList('2A')">▶</button>
        Light Blue Shirts
    </h3>
    <ul id="2A-list" style="display:none">
        <li style="font-weight: bold;">
            <span>Gender</span>
            <span>Size</span>
            <span>Quantity</span>
            <span>Action</span>
        </li>
        <% const testSortedResults = results.filter(item => item.name.includes('2A')).sort((a, b) => a.gender.localeCompare(b.gender)) %>
        <% for (var i = 0; i < testSortedResults.length; i++) { %>
        <li data-id="<%= testSortedResults[i].id %>">
            <span><%= testSortedResults[i].gender %></span>
            <span><%= testSortedResults[i].size %></span>
            <span><input type="number" class="quantity" value="<%= testSortedResults[i].quantity %>" data-id="<%= testSortedResults[i].id %>"></span>
            <span><button class="delete" data-id="<%= testSortedResults[i].id %>">Delete</button></span>
        </li>
        <% } %>
    </ul>

    
    


    <h3>
        <button id="trousers-toggle-button" onclick="toggleList('trousers')">▶</button>
        Trousers
    </h3>
    <ul id="trousers-list" style="display:none">
        <li style="font-weight: bold;">
            <span>Gender</span>
            <span>Size</span>
            <span>Quantity</span>
            <span>Action</span>
        </li>
        <% const trousersSortedResults = results.filter(item => item.name.includes('Trousers')).sort((a, b) => a.name.localeCompare(b.name)) %>
        <% for (var i = 0; i < trousersSortedResults.length; i++) { %>
            <li data-id="<%= trousersSortedResults[i].id %>">
                <span><%= trousersSortedResults[i].gender %></span>
                <span><%= trousersSortedResults[i].size %></span>
                <span><input type="number" class="quantity" value="<%= trousersSortedResults[i].quantity %>" data-id="<%= trousersSortedResults[i].id %>"></span>
                <span><button class="delete" data-id="<%= trousersSortedResults[i].id %>">Delete</button></span>
            </li>
        <% } %>
    </ul>

    <h3>
        <button id="skirts-toggle-button" onclick="toggleList('skirts')">▶</button>
        Skirts
    </h3>
    <ul id="skirts-list" style="display:none">
        <li style="font-weight: bold;">
            <span>Gender</span>
            <span>Size</span>
            <span>Quantity</span>
            <span>Action</span>
        </li>
        <% const SkirtSortedResults = results.filter(item => item.name.includes('Skirt')).sort((a, b) => a.name.localeCompare(b.name)) %>
        <% for (var i = 0; i < SkirtSortedResults.length; i++) { %>
            <li data-id="<%= SkirtSortedResults[i].id %>">
                <span><%= SkirtSortedResults[i].gender %></span>
                <span><%= SkirtSortedResults[i].size %></span>
                <span><input type="number" class="quantity" value="<%= SkirtSortedResults[i].quantity %>" data-id="<%= SkirtSortedResults[i].id %>"></span>
                <span><button class="delete" data-id="<%= SkirtSortedResults[i].id %>">Delete</button></span>
            </li>
        <% } %>
    </ul>
    

    <h3>
        <button id="jumpers-toggle-button" onclick="toggleList('jumpers')">▶</button>
        Jumpers
    </h3>
    <ul id="jumpers-list" style="display:none">
    <li style="font-weight: bold;">
        <span>Gender</span>
        <span>Size</span>
        <span>Quantity</span>
        <span>Action</span>
    </li>
    <% for (var i = 0; i < results.length; i++) { %>
        <% if (results[i].name.includes('Jumper') || results[i].name.includes('Fleece') || results[i].name.includes('Combat Jacket') || results[i].name.includes('Waterproof Jacket')) { %>
        <li data-id="<%= results[i].id %>">
            <span><%= results[i].gender %></span>
            <span><%= results[i].size %></span>
            <span><input type="number" class="quantity" value="<%= results[i].quantity %>" data-id="<%= results[i].id %>"></span>
            <span><button class="delete" data-id="<%= results[i].id %>">Delete</button></span>
        </li>
        <% } %>
    <% } %>
    </ul>

    <h3>
        <button id="berets-toggle-button" onclick="toggleList('berets')">▶</button>
        Beret's
    </h3>
    <ul id="berets-list" style="display: none;">
    <li style="font-weight: bold;">
        <span>Name</span>
        <span>Size</span>
        <span>Quantity</span>
        <span>Action</span>
    </li>
    <% for (var i = 0; i < results.length; i++) { %>
        <% if (results[i].name.includes('Beret')) { %>
        <li data-id="<%= results[i].id %>">
        <span><%= results[i].name %></span>
        <span><%= results[i].size %></span>
        <span><input type="number" class="quantity" value="<%= results[i].quantity %>" data-id="<%= results[i].id %>"></span>
        <span><button class="delete" data-id="<%= results[i].id %>">Delete</button></span>
        </li>
        <% } %>
    <% } %>
    </ul>

    <h3>
        <button id="mtp-pcs-uniform-toggle-button" onclick="toggleList('mtp-pcs-uniform')">▶</button>
        MTP PCS Uniform
    </h3>
    <ul id="mtp-pcs-uniform-list" style="display: none;">
    <li style="font-weight: bold;">
        <span>Name</span>
        <span>Size</span>
        <span>Quantity</span>
        <span>Action</span>
    </li>
    <% for (var i = 0; i < results.length; i++) { %>
        <% if (results[i].name.includes('MTP PCS')) { %>
        <li data-id="<%= results[i].id %>">
        <span><%= results[i].name %></span>
        <span><%= results[i].size %></span>
        <span><input type="number" class="quantity" value="<%= results[i].quantity %>" data-id="<%= results[i].id %>"></span>
        <span><button class="delete" data-id="<%= results[i].id %>">Delete</button></span>
        </li>
        <% } %>
    <% } %>
    </ul>

    
    <h3>
        <button id="accessories-toggle-button" onclick="toggleList('accessories')">▶</button>
        Accessories
    </h3>
    <ul id="accessories-list" style="display: none;">
    <li style="font-weight: bold;">
        <span>Name</span>
        <span>Size</span>
        <span>Quantity</span>
        <span>Action</span>
    </li>
    <% for (var i = 0; i < results.length; i++) { %>
        <% if (results[i].name.includes('Parade Shoes') || results[i].name.includes('Socks') || results[i].name.includes('Yellow Lanyard') || results[i].name.includes('Belts') || results[i].name.includes('Brassard') || results[i].name.includes('Tie') || results[i].name.includes('Webbing Belt')) { %>
        <li data-id="<%= results[i].id %>">
        <span><%= results[i].name %></span>
        <span><%= results[i].size %></span>
        <span><input type="number" class="quantity" value="<%= results[i].quantity %>" data-id="<%= results[i].id %>"></span>
        <span><button class="delete" data-id="<%= results[i].id %>">Delete</button></span>
        </li>
        <% } %>
    <% } %>
    </ul>


</ul>


    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
